streamlit>=1.29.0

# langchain 관련
git+https://github.com/langchain-ai/langchain.git@v0.1.11
langchain-community==0.0.28
pydantic<2

# 기타
google-generativeai>=0.3.2
openai==1.6.0
pandas>=2.1.0
openpyxl>=3.1.2
python-docx>=1.0.1
PyMuPDF>=1.23.0
unstructured>=0.10.30
